body{
	background-image: url('../img/cat-fish-tesselation.png');
	/* background-repeat:repeat; */
}

#hand{
position:fixed;
bottom:0px;
margin: 0 0 0 -50%;
left:50%;
}

@media(min-width: 830px) {
	/* set min-width to image width plus 30 px for margins */
	#hand{
		margin: 0 0 0 -400px;
		/* set left margin to - 50% of image width */
	}
}