#bg{
	/* background-image: url('../img/cat-fish-tesselation.png'); */

	/* The old syntax, deprecated and prefixed, for old browsers */
	background:-prefix-linear-gradient(
			top, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,1)
		), 
	url('../img/cat-fish-tesselation.png');
	
	/* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Firefox 16, Chrome 26, Safari 6.1), without prefix */
	background:linear-gradient(
			to bottom, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,1)
		), 
	url('../img/cat-fish-tesselation.png');
	height:100%;
}

#hand{
position:fixed;
bottom:0px;
margin: 0 0 0 -50%;
left:50%;
z-index:99;
}

@media(min-width: 830px) {
	/* set min-width to image width plus 30 px for margins */
	#hand{
		margin: 0 0 0 -400px;
		/* set left margin to - 50% of image width */
	}
}

